az-logicapp/code.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Check_if_Supported_Image": {
                "actions": {},
                "else": {
                    "actions": {
                        "Check_if_PDF": {
                            "actions": {
                                "Convert_file": {
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['onedrive-1']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Get_file_metadata')?['Id']))}/convert",
                                        "queries": {
                                            "type": "JPG"
                                        }
                                    },
                                    "type": "ApiConnection"
                                },
                                "Create_JPG_file": {
                                    "inputs": {
                                        "body": "@body('Convert_file')",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['onedrive-1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/files",
                                        "queries": {
                                            "folderPath": "/Handwritten Notes",
                                            "name": "@{body('Get_file_metadata')?['NameNoExt']}.jpg"
                                        }
                                    },
                                    "runAfter": {
                                        "Convert_file": [
                                            "Succeeded"
                                        ]
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    },
                                    "type": "ApiConnection"
                                },
                                "Move_converted_file": {
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['onedrive-1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Get_file_metadata')?['Id']))}/move",
                                        "queries": {
                                            "destination": "/Handwritten Notes/processed/@{body('Get_file_metadata')?['Name']}",
                                            "overwrite": true
                                        }
                                    },
                                    "runAfter": {
                                        "Create_JPG_file": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection"
                                },
                                "Terminate_-_Skip": {
                                    "inputs": {
                                        "runStatus": "Cancelled"
                                    },
                                    "runAfter": {
                                        "Move_converted_file": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Terminate"
                                }
                            },
                            "else": {
                                "actions": {
                                    "Terminate_-_Unsupported": {
                                        "inputs": {
                                            "runError": {
                                                "code": "400",
                                                "message": "Image type is not supported. Supported types: jpg, gif, png, bmp, tiff."
                                            },
                                            "runStatus": "Failed"
                                        },
                                        "type": "Terminate"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "",
                                            ""
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    }
                },
                "expression": {
                    "or": [
                        {
                            "equals": [
                                "@variables('imageFileExtension')",
                                "jpg"
                            ]
                        },
                        {
                            "equals": [
                                "@variables('imageFileExtension')",
                                "jpeg"
                            ]
                        },
                        {
                            "equals": [
                                "@variables('imageFileExtension')",
                                "png"
                            ]
                        },
                        {
                            "equals": [
                                "@variables('imageFileExtension')",
                                "gif"
                            ]
                        },
                        {
                            "equals": [
                                "@variables('imageFileExtension')",
                                "bmp"
                            ]
                        },
                        {
                            "equals": [
                                "@variables('imageFileExtension')",
                                "tiff"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_-_imageFileExtension": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Copy_file": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['onedrive-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Get_file_metadata')?['Id']))}/copy",
                    "queries": {
                        "destination": "/second-brain/second-brain/_fleeting-notes/@{body('Parse_JSON_-_Get_ExtractNotes_Response')?['extractedTitle']}.@{variables('imageFileExtension')}",
                        "overwrite": true
                    }
                },
                "runAfter": {
                    "Parse_JSON_-_Get_ExtractNotes_Response": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Create_markdown_file": {
                "inputs": {
                    "body": "---\nnote-type: @{body('Parse_JSON_-_Get_ExtractNotes_Response')?['noteType']}\ncreated-date: @{formatDateTime(addToTime(utcNow(),8,'Hour'),'yyyy-MM-dd HH:mm')}\nlast-updated: @{formatDateTime(addToTime(utcNow(),8,'Hour'),'yyyy-MM-dd HH:mm')}\n---\n![[@{body('Parse_JSON_-_Get_ExtractNotes_Response')?['extractedTitle']}.@{variables('imageFileExtension')}]]\n\n@{body('Parse_JSON_-_Get_ExtractNotes_Response')?['extractedText']}",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['onedrive-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/datasets/default/files",
                    "queries": {
                        "folderPath": "/second-brain/second-brain/_fleeting-notes",
                        "name": "@{body('Parse_JSON_-_Get_ExtractNotes_Response')?['extractedTitle']}.md"
                    }
                },
                "runAfter": {
                    "Copy_file": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "Get_Functions_Secret": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault-1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('raznotesapi-defaultkey')}/value"
                },
                "runAfter": {
                    "Check_if_Supported_Image": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "outputs"
                        ]
                    }
                },
                "type": "ApiConnection"
            },
            "Get_file_metadata": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['onedrive-1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerOutputs()['headers']['x-ms-file-id']))}"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "HTTP_-_Extract_Notes": {
                "inputs": {
                    "body": {
                        "$content-type": "multipart/form-data",
                        "$multipart": [
                            {
                                "body": "@triggerBody()",
                                "headers": {
                                    "Content-Disposition": "form-data; name=image; filename=\"@{body('Get_file_metadata')?['Name']}\"",
                                    "Content-Type": "@{triggerOutputs()['headers']['Content-Type']}"
                                }
                            }
                        ]
                    },
                    "method": "POST",
                    "uri": "https://raznotesapi.azurewebsites.net/api/ExtractNotes?code=@{body('Get_Functions_Secret')?['value']}"
                },
                "runAfter": {
                    "Get_Functions_Secret": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Initialize_variable_-_imageFileExtension": {
                "inputs": {
                    "variables": [
                        {
                            "name": "imageFileExtension",
                            "type": "string",
                            "value": "@{last(split(body('Get_file_metadata')?['Name'],'.'))}"
                        }
                    ]
                },
                "runAfter": {
                    "Get_file_metadata": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Move_Processed_File": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['onedrive-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Get_file_metadata')?['Id']))}/move",
                    "queries": {
                        "destination": "/Handwritten Notes/processed/@{body('Get_file_metadata')?['Name']}",
                        "overwrite": true
                    }
                },
                "runAfter": {
                    "Create_markdown_file": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Parse_JSON_-_Get_ExtractNotes_Response": {
                "inputs": {
                    "content": "@body('HTTP_-_Extract_Notes')",
                    "schema": {
                        "properties": {
                            "extractedText": {
                                "type": "string"
                            },
                            "extractedTitle": {
                                "type": "string"
                            },
                            "noteType": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP_-_Extract_Notes": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_file_is_modified": {
                "evaluatedRecurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['onedrive-1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/triggers/onupdatedfilev2",
                    "queries": {
                        "folderId": "A8546FE4B5BBEFDD!93368",
                        "includeFileContent": true,
                        "includeSubfolders": false,
                        "inferContentType": true,
                        "simulate": false
                    }
                },
                "metadata": {
                    "A8546FE4B5BBEFDD!93368": "/Handwritten Notes"
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "keyvault-1": {
                    "connectionId": "/subscriptions/33e81e94-c18c-4d5a-a613-897c92b35411/resourceGroups/rg-notes-gpt/providers/Microsoft.Web/connections/keyvault-1",
                    "connectionName": "keyvault-1",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    },
                    "id": "/subscriptions/33e81e94-c18c-4d5a-a613-897c92b35411/providers/Microsoft.Web/locations/eastus/managedApis/keyvault"
                },
                "onedrive-1": {
                    "connectionId": "/subscriptions/33e81e94-c18c-4d5a-a613-897c92b35411/resourceGroups/rg-notes-gpt/providers/Microsoft.Web/connections/onedrive-1",
                    "connectionName": "onedrive-1",
                    "id": "/subscriptions/33e81e94-c18c-4d5a-a613-897c92b35411/providers/Microsoft.Web/locations/eastus/managedApis/onedrive"
                }
            }
        }
    }
}